<!DOCTYPE html>
<html>
    {% load static %}
    <head>

        <title>display</title>

    </head>
    <body>
       <table border=1>
            <tr>
                <th>image</th>
                <th>name</th>
                <th>delete item</th>
                <th>View Detail</th>
                <th>Update</th>
            </tr>
            {% for i,j,k in a %}
            <tr>
                <td><img src='{% static i %}' height="100px" width="100px"></td>
                <td>{{j}}</td>
                <td><a href="http://127.0.0.1:8000/new_app/deletefile/{{k}}">delete</a></td>
                <td><a href="http://127.0.0.1:8000/new_app/filedetail/{{k}}">view detail</a></td>
                <td><a href="http://127.0.0.1:8000/new_app/fileupdate/{{k}}">update</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>